@import url("http://fonts.googleapis.com/css?family=Comfortaa:400,300,700");

body {
    font-family: 'Comfortaa', sans-serif !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.default-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('doodle-science.png');
}
